/* Dark Theme (Default) */
body {
  background-color: #222831;
  color: #f5f5f5;
}

.navbar {
  background-color: #222831;
  margin-left: 2%;
}

.navbar .navbar-brand,
.navbar .nav-link {
  color: #9FA6B2;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%239FA6B2' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.footer {
  background-color: #222831;
  color: #9FA6B2;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px 0;
}

.footer a{
  color: #9FA6B2;
}

#keyStrengthIndicator{
  color: #9FA6B2;
}

.main-container {
  background-color: #222831;
  color: #f5f5f5;
  padding-bottom: 60px;
}

.main-container .card {
  background-color: #31363F;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


h3 {
  text-align: center;
  font-size: 1rem;
  margin-bottom: 20px;
  color: #9FA6B2;
}

h1 {
  font-size: 2rem;
  margin-bottom: 0px;
  color: #9FA6B2;
}

.eye {
  border: none;
  border-left: none;
  border-right: none;
  color: #9FA6B2;
  border-radius: 0;
  margin-right: 0 !important;
  margin-left: -2px;
}

.eye:hover {
  border: none;
  border-left: none;
  border-right: none;
  color: #9FA6B2;
  border-radius: 0;
  margin-right: 0 !important;
  margin-left: -1px; /* Add this line */
}

.eye2 {
  border: none;
  border-left: none;
  color: #9FA6B2;
  margin-left: 0px !important;
}

.eye2:hover {
  border: none;
  border-left: none;
  color: #9FA6B2;
  margin-left: -1px; /* Update this line */
}

.eye3{
  border:1px solid #9FA6B2;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}


/* Style for drag and drop box */
#dragAndDropBox {
  border: 2px dashed #9FA6B2; /* Dashed border */
  border-radius: 5px; /* Rounded corners */
  padding: 20px; /* Padding inside the box */
  text-align: center; /* Center text horizontally */
  cursor: pointer; /* Change cursor to pointer on hover */
}

/* Style for file name display */
#selectedFileName {
  display: block; /* Display file name below the box */
  margin-top: 10px; /* Add some space between the box and the file name */
  color: #9FA6B2; /* Text color */
}


#privateKey {
  background-color: #31363F;
  color: #f5f5f5;
  outline: none;
  border-right:none;
}

.btn-encrypt {
  background-color: #76ABAE; /* Color for encrypt button */
  color: #f5f5f5;
  outline: none;
}

.btn-encrypt:hover {
  background-color: #76ABAE; /* Color for encrypt button */
  color: #f5f5f5;
  outline: none;
}

.btn-decrypt {
  background-color: #76ABAE; /* Color for decrypt button */
  color: #f5f5f5;
  outline: none;
}

.btn-decrypt:hover {
  background-color: #76ABAE; /* Color for decrypt button */
  color: #f5f5f5;
  outline: none;
}

.def{
  background-color: #31363F; /* Color for decrypt button */
  color: #f5f5f5;
  display: none;
}

.def:hover{
  background-color: #31363F;
  color: #f5f5f5;
  display: none;
}

.btn,
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="file"]::-webkit-file-upload-button,
input[type="range"] {
  outline: none; /* Remove default focus outline */
  box-shadow: none; /* Remove default focus box-shadow */
}

.btn:focus,
input[type="button"]:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="file"]::-webkit-file-upload-button:focus,
input[type="range"]:focus {
  box-shadow: none; /* Remove focus box-shadow */
}

.btn:active,
input[type="button"]:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="file"]::-webkit-file-upload-button:active,
input[type="range"]:active {
  box-shadow: none; /* Remove active box-shadow */
}

.input,
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="file"]::-webkit-file-upload-button,
input[type="range"] {
  outline: none; /* Remove default focus outline */
  box-shadow: none; /* Remove default focus box-shadow */
}

.input:focus,
input[type="button"]:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="file"]::-webkit-file-upload-button:focus,
input[type="range"]:focus {
  box-shadow: none; /* Remove focus box-shadow */
}

.input:active,
input[type="button"]:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="file"]::-webkit-file-upload-button:active,
input[type="range"]:active {
  box-shadow: none; /* Remove active box-shadow */
}
